@model Materials

<h3>@Model.name Information</h3>

<table class="table">
    <tr>
        <th>Category ID</th>
        <th>Name</th>
        <th>Residential pick up</th>
        <th>Special instructions</th>
    </tr>
    <tr>
        <td>@Model.id_materials </td>
        <td>@Model.name </td>
        <td>@Model.residential_pickup </td>
        <td>@Model.instructions </td>
       
    </tr>

</table>

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
